<h1 class="text-3xl font-bold text-center my-8 pt-8">パスワード変更</h1>

<div class="flex justify-center items-center">
<div class="w-full max-w-4xl bg-white shadow-md p-6 rounded-md rounded-xl my-8">  
    <%= form_with(url: password_resets_path, scope: :password_reset) do |f| %>

      <%= f.label :メールアドレス, class: "block font-medium text-gray-700 text-lg" %>
      <%= f.email_field :email, class:  "mt-1 block w-full border-2 border-gray-90 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 py-2 px-2"  %>

       <%= f.submit "送信", class: "text-xl w-full  mt-[10px] py-2 px-4 bg-sky-600 text-white font-medium rounded-md shadow hover:bg-indigo-700 focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
    <% end %>
  </div>  
  </div>

