<header class="navbar navbar-fixed-top bg-primary">
<div class="container">
  <%= link_to "RestaurantChooser", root_path , id: "logo" %>
  <nav>
    <ul class="nav navbar-nav  navbar-right">
 

          <li><%= link_to "ログイン", login_path %></li>
      
      </ul>
  </nav>
</div>
</header>